<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>         
  </tr>
  </thead>

  <tbody>
  <% @motels.each do |motel| %>
    <tr>
      <td><%= motel.name %></td>
      <td><%= motel.description %></td>                        
    </tr>
  <% end %>
  </tbody>
</table>