<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	    <title>telMo App</title>

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="keywords" content="">
	    <meta name="author" content="">
	  	<title>TelMoApp</title>	


	  	<%if current_page?(new_user_registration_path) | current_page?(new_user_session_path)%>
		  	<!-- Registro -->
		  	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
		  	<link rel="shortcut icon" href="/assets//devise/favicon.png">
			<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/devise/apple-touch-icon-144-precomposed.png">
			<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/devise/apple-touch-icon-114-precomposed.png">
			<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/devise/apple-touch-icon-72-precomposed.png">
			<link rel="apple-touch-icon-precomposed" href="/assets/devise/apple-touch-icon-57-precomposed.png">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		  	<!-- ****************************************************************************************** -->	  	
			<%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true%>			
		<%else%>
			<!-- Index -->
		  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		  	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
			<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		  	<script src="https://maps.googleapis.com/maps/api/js"></script>

		  	<!-- ****************************************************************************************** -->
		  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true%>
		<%end%>	
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>		
	</body>
</html>
